@{
    ViewBag.Title = "Stages";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<div class="row">
    <div class="col-md-6"><h2>All Stages</h2> </div>
    <div class="col-md-6"><a class="btn btn-primary" href="/Stages/Create">Creat New Stage</a></div>
</div>

<div class="container-fluid">
    @(Html.Kendo().Grid<EdgeRealEstate.Models.ViewModels.Stage_VM>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(e => e.StageName).Width(80);
                        columns.Bound(e => e.Cost).Width(80);
                        columns.Bound(e => e.Duration).Width(80);
                        columns.Bound(c => c.ID).Title("Edit").Filterable(false).ClientTemplate("<a class='btn btn-primary btn-sm' href='/Stages/Edit/#=ID#'><span class='k-icon k-i-edit'></span>  Edit</a>").Width(60);
                        //columns.Command(c => c.Edit()).Width(60);
                        columns.Command(d => d.Destroy()).Width(60);
                    })
                    .Scrollable()
                    .Sortable()
                    .Filterable()
                    .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("PopupItemsWithGridEditor"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(m =>
                        {
                            m.Id(o => o.ID);
                            m.Field(f => f.ID).Editable(false);
                        })
                        .Read(read => read.Action("Stages_Read", "Stages"))
                        .Update(upd => upd.Action("Stages_Update", "Stages"))
                        .Destroy(dest => dest.Action("Stages_Destroy", "Stages"))
                    )
                    .Events(e => e.Edit("onEdit"))
    )
</div>
<script>
    function onEdit(e) {
        e.container.find("[data-role='grid']").data("kendoGrid").resize(true);
        console.log(e.container.find("[data-role='grid']").data("kendoGrid"));
    }
</script>
<style>
    #grid .k-grid-content {
        min-height: 400px;
        max-height: 800px;
    }

    .k-edit-form-container {
        width: 1000px;
        padding: 30px;
    }

    /*
        Expand the edit textboxes and any other Kendo UI widgets.
        In case of unexpected side effects, use widget-specific classes, instead of .k-widget.
    */
    .k-popup-edit-form .k-edit-field > .k-textbox,
    .k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip) {
        width: 98%;
    }
</style>