@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}



<a href="/ContractCustomerFlat/Create" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
</a>

<h2>  عرض الكل  </h2>