@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
@model EdgeRealEstate.Entities.Customer
<h3 style="text-align:center">العملاء/الموردين</h3>
<h4 dir="rtl">هل أنت متأكد من أنك تريد حذف هذا العميل / المورد؟</h4>
<div class="k-rtl">
    <div class="demo-section k-content">
        @(Html.Kendo().TabStrip()
              .Name("Customer")
              .Items(tabstrip =>
              {

tabstrip.Add().Text("بيانات شخصية")
.Content(model => Html.Partial("DetailsPartialPersonnel", model));
     tabstrip.Add().Text("بيانات الحساب")
.Content(model => Html.Partial("DetailsPartialAccount", model));
})
.SelectedIndex(0)
        )
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-actions no-color" dir="rtl">
        <input type="submit" value="حذف" class="btn btn-primary" /> |
        @Html.ActionLink("رجوع", "Index")
    </div>
}


