<ul class="nav side-menu">
    <li>
        <a href="/Home/"><i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>ملفات اساسية<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a><i class="fa fa-edit"></i>الحسابات<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/LKAccount/Create">اضافة</a></li>
                    <li><a href="/LKAccount/">عرض الجميع</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-edit"></i>المدن<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Cities/Create">اضافة</a></li>
                    <li><a href="/Cities/">عرض الجميع</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-edit"></i>الفروع<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/LKBranch/Create">اضافة</a></li>
                    <li><a href="/LKBranch/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>الدول<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/LKCountry/Create">اضافة</a></li>
                    <li><a href="/LKCountry/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>الجنسيات<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/LKNationality/Create">اضافة</a></li>
                    <li><a href="/LKNationality/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>المخازن<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/LKStore/Create">اضافة</a></li>
                    <li><a href="/LKStore/">عرض الجميع</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-edit"></i>المسميات الوظيفية<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/LKTitle/Create">اضافة</a></li>
                    <li><a href="/LKTitle/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>الشوارع<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Streets/Create">اضافة</a></li>
                    <li><a href="/Streets/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>درجات التميز<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/DegreeOfExcellences/Create">اضافة</a></li>
                    <li><a href="/DegreeOfExcellences/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>المناطق<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Districts/Create">اضافة</a></li>
                    <li><a href="/Districts/">عرض الجميع</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>السندات<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a><i class="fa fa-edit"></i>سند صرف نقدية مساهم<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/ContPaperPayment/Create">اضافة</a></li>
                    <li><a href="/ContPaperPayment/">عرض الجميع</a></li>
                    <li><a href="/ContPaperPaymentReport/">تقرير سندات صرف نقدية مساهم</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>سند استلام نقدية مساهم<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/ContPaperReceipt/Create">اضافة</a></li>
                    <li><a href="/ContPaperReceipt/">عرض الجميع</a></li>
                    <li><a href="/ContPaperReceiptReport/">تقرير سندات قبض نقدية مساهم</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>سند صرف نقدية مقاول<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/contractorPaperPayment/Create">اضافة</a></li>
                    <li><a href="/contractorPaperPayment/">عرض الجميع</a></li>
                    <li><a href="/ContractorPaperPaymentReport/">تقرير سندات صرف نقدية مقاول</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>سند استلام نقدية مقاول<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/contractorPaperReceipt/Create">اضافة</a></li>
                    <li><a href="/contractorPaperReceipt/">عرض الجميع</a></li>
                    <li><a href="/ContractorPaperReceiptReport/">تقرير سندات استلام نقدية مقاول</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>سند صرف نقدية عميل<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/CustPaperPayment/Create">اضافة</a></li>
                    <li><a href="/CustPaperPayment/">عرض الجميع</a></li>
                    <li><a href="/CustPaperPaymentReport/">تقرير سندات صرف نقدية عميل</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>سند اسلام نقدية عميل<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/CustPaperReceipt/Create">اضافة</a></li>
                    <li><a href="/CustPaperReceipt/">عرض الجميع</a></li>
                    <li><a href="/CustPaperReceiptReport/">تقرير سندات استلام نقدية عميل</a></li>
                </ul>
            </li>
        </ul>
    </li>
<li>
    <a><i class="fa fa-edit"></i>اعداد المشاريع<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li>
            <a><i class="fa fa-edit"></i>الاراضى الرئيسية<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/MainLands/Create">اضافة</a></li>
                <li><a href="/MainLands/">عرض الجميع</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i>المشاريع الرئيسية<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/MainProjects/Create">اضافة</a></li>
                <li><a href="/MainProjects/">عرض الجميع</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i>المشاريع<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/Projects/Create">اضافة</a></li>
                <li><a href="/Projects/">عرض الجميع</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i>حالة المشروعات<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/ProjectStatus/Create">اضافة</a></li>
                <li><a href="/ProjectStatus/">عرض الجميع</a></li>
            </ul>
        </li>
        <li><a href="/MainLands/SearchProjects">عرض الجميع</a></li>
    </ul>
</li>
<li>
    <a><i class="fa fa-edit"></i> المبيعات <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li>
            <a><i class="fa fa-edit"></i>انشاء عقود البيع<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/ContractCustomerFlat/Index">اضافة  عقد جديد </a></li>
                <li><a href="//">عرض الجميع</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i>طباعه عقد بيع <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="//Create">اضافة</a></li>
                <li><a href="//">عرض الجميع</a></li>
            </ul>
        </li>

        <li>
            <a><i class="fa fa-edit"></i>طباعه صك الافراغ<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="//Create">اضافة</a></li>
                <li><a href="//">عرض الجميع</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i>موقف المالك<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="//Create">اضافة</a></li>
                <li><a href="//">عرض الجميع</a></li>
            </ul>
        </li>
        <li><a href="/MainLands/SearchProjects">عرض الجميع</a></li>
        <li>
            <a><i class="fa fa-edit"></i>عقود الصيانه<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="//Create">اضافة</a></li>
                <li><a href="//">عرض الجميع</a></li>
            </ul>
        </li>

        <li>
            <a><i class="fa fa-edit"></i> تقرير موقف مشروع <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/ProjectsFlatReport/Index">اضافة</a></li>

            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i> تقرير مبيعات مشروع <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/CustomerSelectFlatReport/Index2">اضافة</a></li>

            </ul>
        </li>


    </ul>
</li>
    <li>
        <a><i class="fa fa-edit"></i>امر الشغل<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a><i class="fa fa-edit"></i>اوامر الشغل<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/OrderJob/Editing_Custom">اضافة</a></li>
                    <li><a href="/OrderJob/">عرض الجميع</a></li>
                    <li><a href="/OrderJobReport/">تقارير اوامر الشغل</a></li>
                    <li><a href="/OrderJobReport/Index2">تقارير اوامر الشغل جديد</a></li>
                    <li><a href="/OrderJobFollowUp/test">متابعة اوامر الشغل</a></li>
                    <li><a href="/OrderJobFollowUpReport/">تقارير متابعة اوامر الشغل</a></li>
                    <li><a href="/OrderJobFollowUpReport/index3">تقارير متابعة اوامر الشغل</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>المقاولين<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/contractor/Create">اضافة</a></li>
                    <li><a href="/contractor/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>المهندسين<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Engennerings/Create">اضافة</a></li>
                    <li><a href="/Engennerings/">عرض الجميع</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>المراحل<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a><i class="fa fa-edit"></i>المراحل<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Stages/CreateStage">اضافة مرحلة</a></li>
                    <li><a href="/Stages/Create">ربط المرحلة بالبنود</a></li>
                    <li><a href="/Stages/">عرض الجميع</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>البنود<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/MianItems/Create">اضافة</a></li>
                    <li><a href="/MianItems/">عرض الجميع</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>مواد الانشاء<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/ConstructionMaterials/Create">اضافة</a></li>
            <li><a href="/ConstructionMaterials/">عرض الجميع</a></li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>المساهمون<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/Contributor/Create">اضافة</a></li>
            <li><a href="/Contributor/">عرض الجميع</a></li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>العملاء<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/Customer/Create">اضافة</a></li>
            <li><a href="/Customer/">عرض الجميع</a></li>
        </ul>
    </li>


    @*<li>
        <a><i class="fa fa-edit"></i>  المبيعات <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/ContractCustomerFlat/Index">اضافة  عقد جديد </a></li>
            <li><a href="/Customer/">عرض الجميع</a></li>
        </ul>
    </li>*@

    


    @*<li>
        <a><i class="fa fa-edit"></i>هدف الموظف<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/EmloyeeTarget/Create">اضافة</a></li>
            <li><a href="/EmloyeeTarget/">عرض الجميع</a></li>
        </ul>
    </li>*@
    <li>
        <a><i class="fa fa-edit"></i>الموظفين<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/Employee/Create">اضافة</a></li>
            <li><a href="/Employee/">عرض الجميع</a></li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>مبيعات المندوب<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/EmployeeSales/Create">اضافة</a></li>
            <li><a href="/EmployeeSales/">عرض الجميع</a></li>
        </ul>
    </li>

    <li>
        <a><i class="fa fa-edit"></i>الشقق<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/Flats/Create">اضافة</a></li>
            <li><a href="/Flats/">عرض الجميع</a></li>
        </ul>
    </li>




    <li>
        <a><i class="fa fa-edit"></i>انظمة السداد<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/PaymentSystems/Create">اضافة</a></li>
            <li><a href="/PaymentSystems/">عرض الجميع</a></li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>عروض الاسعار<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/PricesOffers/Editing_Custom">اضافة</a></li>
            <li><a href="/PricesOffers/">عرض الجميع</a></li>
            <li><a href="/PricesOffersReport/">تقارير عروض الاسعار</a></li>
        </ul>
    </li>

    @*<li>
            <a><i class="fa fa-edit"></i>ProjectTextDescriptions<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/ProjectTextDescriptions/Create">Add New</a></li>
                <li><a href="/ProjectTextDescriptions/">View All</a></li>
            </ul>
        </li>*@
    <li>
        <a><i class="fa fa-edit"></i>تقارير المشتريات<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/PurchaseReport/">عرض الجميع</a></li>

        </ul>

        <a><i class="fa fa-edit"></i>حركات المخازن<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/StoreTransaction/Create">اضافة</a></li>
            <li><a href="/StoreTransaction/">عرض الجميع</a></li>
        </ul>

    </li>



    <li>
        <a><i class="fa fa-edit"></i>الموردين<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/Suppliers/Create">اضافة</a></li>
            <li><a href="/Suppliers/">عرض الجميع</a></li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>الفلل<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/Villas/Create">اضافة</a></li>
            <li><a href="/Villas/">عرض الجميع</a></li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-edit"></i>سندات صرف المخازن<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/WarehouseWarrant/Editing_Custom">اضافة</a></li>
            <li><a href="/WarehouseWarrant/">عرض الجميع</a></li>
            <li><a href="/WarehouseWarrantReport/">تقارير مستودعات الضمانات</a></li>
        </ul>
    </li>
</ul>
